<h1>Listing expenses</h1>

<div class="container">
  <table>
    <tr>
      <th>Amount</th>
      <th>Goods service</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

	<% @expenses.each do |expense| %>
	  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
		
		<td><%= expense.amount %></td>
		<td><%= expense.goods_service %></td>
		<td><%= expense.note %></td>
		<td><%= link_to 'Show', expense %></td>
		<td><%= link_to 'Edit', edit_expense_path(expense) %></td>
		<td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	</table>
</div>

<br />

<div class="link">
  <%= link_to 'New Expense', new_expense_path %>
</div>  
