<p id="notice">
  <%= notice %>
</p>

<fieldset>
	<p>
	  <b><%=t :date %></b>
	  <%= @expense.created_at.to_s(:my_date_format) %>
	</p>
	
	<p>
	  <b><%=t :amount %></b>
	  <%= number_to_currency(@expense.amount) %>
	</p>

	<p>
	  <b><%=t :goods_service %></b>
	  <%= @expense.goods_service %>
	</p>

	<p>
	  <b><%=t :note %></b>
	  <%= @expense.note %>
	</p>
</fieldset>

<div class="link">
  <%= link_to t(:edit), edit_expense_path(@expense) %> |
  <%= link_to t(:back), expenses_path %>
</div>